
body {
    background-image:url('imagens/cultivo.png');
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-position: center center;
    background-color: #e8f5e9;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}


header {
    background-color: #388E3C;
    color: white;
    padding: 30px 0;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 2.8em;
}

.container {
    width: 85%;
    max-width: 900px;
    margin: 25px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
}


h2 {
    color: #388E3C; 
    border-bottom: 3px solid #C8E6C9;
    padding-bottom: 8px;
    margin-top: 35px;
    font-size: 1.8em;
}

h3 {
    color: #66BB6A; 
    margin-top: 20px;
}


p {
    margin-bottom: 15px;
    text-align: justify;
}

ul {
    list-style: square;
    margin-left: 25px;
    padding-left: 0;
}

li {
    margin-bottom: 8px;
}

.destaque {
    background-color: #f0fff0; 
    border-left: 6px solid #4CAF50;
    padding: 15px;
    margin: 20px 0;
    border-radius: 4px;
}

.destaque strong {
    color: #388E3C;
}